#start_button {
    display: none;
    animation: start_button 1500ms ease-out;
}
#start_button a {
    text-decoration: none;
    position: relative;
    color: rgb(180, 54, 25);
    padding: 16px 20px;
    letter-spacing: 10px;
    border: 1px solid rgb(180, 54, 25);
    box-shadow: 0px 4px 10px 2px rgba(black, 0.2);
    cursor: pointer;
}
#start_button a:before{
    content: '';
    width: 0%; 
    left: 50%;
}
#start_button a:hover {
    box-shadow:none;
}
#start_button a:hover:before {
    position: absolute;
    content: '';
    width: 100%; height: 100%;
    background: rgba(92, 37, 37, 0.336);
    top: 0; 
    left: 0%;
    z-index: -1;
    transition: all 300ms ease;
}
@keyframes start_button {
    0% {
        opacity: 0;
        transform: scale(0) translateZ(0.40em);
    }
    20% {
        opacity: 1;
        transform: scale(0.25);
    }
    89% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(0.95) translateY(-0.40em);
    }
}
